.farmfood
    position: relative
    +clr
    &__wrapper
        margin: 0 auto
        text-align: center
        max-width: 1170px
    &__title
        position: relative
    &__leaf
        position: absolute
        top: 27px
        left: 50%
        transform: translateX(-50%)
    &__light
        font-size: 40px
        +roboto-light
        font-weight: 200
        color: #525252
        line-height: 1.2
        text-align: center
    &__black
        font-size: 40px
        color: #525252
        line-height: 1.2
        text-align: center
        +roboto-light
        font-weight: 900

.farmfood