.farmfood
    position: relative
    margin: 0 auto
    margin-bottom: 200px
    +clr
    &__wrapper
        margin: 0 auto
        text-align: center
        max-width: 1170px
        position: relative
        +r(1200)
            margin: 0 20px
    &__title
        position: relative
        h1 
            padding-top: 20px
    &__leaf
        position: absolute
        top: 27px
        left: 50%
        transform: translateX(-50%)
        +r(850)
            top: 0
    &__about
        font-size: 12px
        +roboto-medium
        letter-spacing: 2px
        color: #525252
        line-height: 1.2
        text-align: center
    &__text
        font-size: 16px
        margin: 25px 0
        +helvetica
        color: #525252
        line-height: 1.8
        text-align: center
    &__light
        font-size: 40px
        +roboto-light
        font-weight: 200
        color: #525252
        line-height: 1.2
        text-align: center
    &__black
        font-size: 40px
        color: #525252
        line-height: 1.2
        text-align: center
        +roboto-light
        font-weight: 900
    &__decor-left
        position: absolute
        left: 0
        top: 25%
        transform: translateY(-25%) 
        width: 100%
    &__decor-right
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
    &__decor-bottom
        position: absolute
        bottom: -200px
        left: 50%
        transform: translateX(-50%)
        +r(850)
            display: none
        img 
            width: 100%
            text-align: center      

.features
    position: relative
    max-width: 100%
    width: 100%
    text-align: center
    margin: 0 auto
    +clr

.feature
    float: left
    width: 23%
    margin-right: 1%
    margin-left: 1%
    +clr
    +r(850)
        width: 46%
        margin-right: 2%
        margin-left: 2%
    +r(320)
        width: 100%
        margin: 20px auto
    &__title
        position: relative
        font-size: 18px
        +roboto-medium
        color: #525252
        line-height: 1.2
        text-align: center
        height: 20px
        overflow: hidden
        z-index: 9999
    &__text
        font-size: 14px
        +helvetica
        color: #525252
        line-height: 1.5
        text-align: center
        height: 80px
        margin: 15px 0
        overflow: hidden
    &-edge 
        margin-top: 200px
        margin-bottom: 200px
        +r(850)
            margin-top: 30px
            margin-bottom: 30px
    &-center 
        margin-top: 70px
        margin-bottom: 70px
        +r(850)
            margin-top: 30px
            margin-bottom: 30px

.readmore
    width: 125px
    height: 38px
    background-color: #ffffff
    font-size: 12px
    +roboto-medium
    color: #bac3c3
    line-height: 1.2
    text-align: center
    border-radius: 25px