.footer
    margin: 0 auto
    margin-top: 50px
    padding-top: 50px
    +clr
    &__wrapper
        margin: 0 auto
        max-width: 1170px
        +clr
    &__item
        width: 31.623931623931623931623931623932%
        float: left
        margin-right: 2.5641025641025641025641025641026%
        h1 
            font-size: 12px
            +roboto-medium
            color: #525252
            line-height: 1.4
            text-align: left 
        ul 
            li 
                line-height: 20px
                a 
                    font-size: 10px
                    +roboto-medium
                    color: #525252
                    line-height: 1.4
                    text-align: left 
        .information, .account
            padding: 15px
            float: left
            width: 45.945945945945945945945945945946%
        .information
            margin-right: 8.1081081081081081081081081081081%
        .instagram
            padding-top: 15px
            padding-left: 98px
            &__gallery
                margin-top: 10px
    &__item:nth-child(3n+3)
        margin-right: 0
        float: right
    &__logo
        float: none
        +clr
        .logo
            margin: 0
            padding: 0
    &__hr
        margin-top: 25px
        +clr
        hr
            float: left
            width: 30px
            color: #84c400
            background-color: #84c400
            height: 3px
            +clr
    &__text
        margin: 15px 0
        font-size: 11px
        +helvetica
        color: #525252
        line-height: 1.5
        text-align: left
        +clr
    &__style
        margin: 0px auto
        margin-top: 50px
        position: relative
        text-align: center
        img 
            position: absolute
            bottom: 0
            left: 0
            right: 0
            max-width: 100%        

.contact
    font-size: 15px
    +roboto-medium
    color: #525252
    font-weight: bold
    line-height: 1.85
    text-align: left
    div
        display: inline-block

.email 
    a 
        color: #525252

.location
    a 
        color: #84c400

.gallery__img
    float: left
    width: 80px
    margin-right: 16px

.gallery__img:nth-child(3n+3)
    margin-right: 0
    float: right

.footer__bottom
    margin: 0px auto
    text-align: center
    max-width: 1170px
    font-size: 15px
    font-family: "Myriad Pro", sans-serif
    color: #999999
    line-height: 1.4
    text-align: center
    .allrights
        float: left
        width: 30%
        text-align: left
        +clr
    .bottom__menu
        float: right
        width: 70%
        text-align: right
        display: inline-block
        +clr
        ul 
            text-align: right
            li 
                display: inline-block
                font-size: 15px
                +roboto-medium
                line-height: 1.4
                text-align: right
                a 
                    float: left
                    color: #545454
                    text-align: right
                    margin-right: 10px
                a:hover 
                    color: #525252