.footer
    margin: 0 auto
    +clr
    &__wrapper
        margin: 0 auto
        max-width: 1170px
    &__about
        width: 31.623931623931623931623931623932%
        float: left
    &__text
        font-size: 11px
        +helvetica
        color: #525252
        line-height: 1.5
        text-align: left

.contact
    font-size: 15px
    +roboto-medium
    color: #525252
    font-weight: bold
    line-height: 1.85
    text-align: left
    div
        display: inline-block

.email 
    a 
        color: #525252

.location
    a 
        color: #84c400