.goods
    max-width: 1170px
    margin: 0 auto
    text-align: center
    +clr
    &__menu
        margin: 0 auto
        padding: 25px 0
        text-align: center
        max-width: 800px
        width: 100%
        +clr
        ul 
            margin: 20px auto
            text-align: center
            li  
                height: 30px 
                // float: left
                display: inline-block 
                margin: 10px 10px 
                +clr           
                a 
                    font-size: 14px
                    padding: 10px
                    +roboto-medium
                    color: #9f9e9b
                    line-height: 1.2
                    text-align: center
                    border: 1px solid #9f9e9b
                    border-radius: 20px
                a:hover 
                    background-color: #7fbc00  
                    color: #ffffff 
                    box-shadow: 5px 5px 15px -6px #000000
    &__row   
        margin: 0 auto 
        margin-top: 50px
        +clr
        .product
            max-width: 300px
            width: 23.076923076923076923076923076923%
            +r(850)
                width: 46.153846153846153846153846153846%
                max-width: 220px
                margin-left: 20px
                margin-right: 20px
            +r(550)
                margin: 30px auto
                display: block
                float: none
                max-width: 220px
                width: 100%
        +r(850)
            width: 550px
        +r(550)
            width: 100%
            margin: 0 auto
            display: block
    &__about
        font-size: 12px
        +roboto-medium
        color: #525252
        line-height: 1.2
        text-align: center
        margin: 20px auto
    &__title
        margin: 0 auto
        +roboto-medium
        color: #525252
        line-height: 1.2
        text-align: center
        border: 2px solid #eeeeee
        max-width: 475px
        width: 100%
        height: 73px
        border-radius: 40px
        position: relative
        h1 
            font-size: 40px
            padding: 5px
            +r(480)
                font-size: 24px
                padding: 10px
                line-height: 2
    &__light
        font-weight: 100
    &__bold
        font-weight: 700
    &__leaf
        position: absolute
        top: -30px
        left: 50%
        transform: translateX(-50%)

.organic_fresh_food
    position: relative
    img 
        position: absolute
        top: 75px
        left: 75px
        width: 50%

.none
    display: none
    