.hero
    background-position: 50% 100%
    background-repeat: no-repeat
    background-size: cover
    position: relative
    +clr
    &__title
        font-size: 56px
        +roboto-light
        font-weight: 100
        color: #333333
        line-height: 1.2
        text-align: center
    &__text
        display: block
        font-size: 15px
        +roboto-medium
        color: #333333
        line-height: 1.2
        text-align: center
        margin: 20px 0
    &__center
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        max-width: 900px
        width: 100%
        text-align: center
        +clr
    &__social
        font-size: 1rem
        position: absolute
        right: 0
        top: 50%
    &__container
        position: relative
        height: 100vh
        margin: 0 auto
        min-height: 500px
        max-width: 1400px
        +clr

.social__icon
    float: right
    width: 100%
    color: #bababa
    cursor: pointer

.button__download
    height: 52px
    width: 161px
    border-radius: 25px
    border: 5px solid #77cabe
    font-size: 16px
    +roboto-bold
    color: #444444
    font-weight: bold
    line-height: 1.2

.button__download:hover 
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.49)

.font_bold
    +roboto-bold
    font-weight: 700
    
.header 
    position: relative
    +clr
    
.logo
    font-size: 27px
    +roboto-light
    color: rgb(51, 51, 51)
    line-height: 1.2
    text-align: left
    float: left
    margin: 30px
    display: inline-block
    &__link
        position: relative
        display: inline-block
    &__img     
        position: absolute
        top: -27px
        left: 50%
        transform: translateX(-50%)

.nav
    float: right
    display: inline-block
    ul 
        li 
            display: inline-block
            font-size: 15px
            +roboto-medium
            color: rgb(51, 51, 51)
            line-height: 1.2
            text-align: right
            a 
                text-decoration: none
                cursor: pointer
            a:hover 
                border-bottom: 3px solid #22ff88 

.basket, .menu
    float: right
    display: inline-block
    margin-left: 30px
    +clr

.basket
    position: relative
    .quantity
        position: absolute
        top: 15px
        left: 20px
        height: 25px
        width: 25px
        padding: 6px
        background-color: #7fbc00
        border-radius: 100%
        color: #ffffff
        border: 2px solid #ffffff
        font-size: 12px
        +roboto-medium
        line-height: 1.1
    .total
        display: inline-block
        font-size: 15px
        +roboto-medium
        color: rgb(51, 51, 51)
        line-height: 1.2
        text-align: right

.naturix
    font-size: 15px
    +roboto-medium
    color: #888888
    line-height: 1.2
    text-align: left
    font-weight: bold
    position: absolute
    bottom: 50px
    left: 10%
    &__organic
        +roboto-italic
        font-style: italic
        color: #79b100

.style
    margin: 0 auto
    position: absolute
    bottom: 0
    left: 0
    right: 0
    img 
        position: absolute
        bottom: 0
        left: 0
        right: 0
        max-width: 100%
