.block
	display: flex
	// remove this

* 
	box-sizing: border-box

a 
	text-decoration: none

.product
	max-width: 15.5%
	float: left
	&__img
		position: relative
		cursor: pointer
	img 
		cursor: pointer
	&__new, &__sale
		position: absolute
		top: 0
	&__new
		display: inline-block
		float: left
	&__sale
		display: inline-block
		float: right
	a
		text-decoration: none
	&__likes
		position: absolute
		top: 0 
		background-color: #eeeeee
		display: inline-block
		visibility: hidden
		color: red
		z-index: 1
		a
			text-decoration: none
				
	&:hover 
		&__likes
			display: inline-block
			visibility: visible
			color: red
			z-index: 9999