.organic
    max-width: 1800px
    margin: 0 auto
    +clr
    +r(1200)
        margin: 0 20px
    &__menu
        margin: 0 auto
        text-align: center
        padding: 0
        width: 100%
        +clr
        ul  
            list-style-type: none
            margin: 0 auto
            padding: 0
            overflow: hidden
            text-align: center
            max-width: 1170px
            li 
                float: left
                display: inline-block
                margin: 0 1.1%
                cursor: pointer
                box-sizing: border-box
                +r(400)
                    width: 100%
                    margin: 10px auto
                a 
                    display: inline-block
                    text-align: center
                    text-decoration: none
                    font-size: 16px
                    +roboto-medium
                    color: #9f9e9c
                    border-radius: 25px
                    height: 47px
                    width: 180px
                    border: 2px solid #9f9e9c
                    padding: 10px 0
                    box-sizing: border-box
                a:hover 
                    background-color: #7fbc00  
                    color: #ffffff 
                    box-shadow: 5px 5px 15px -6px #000000

.banner__allnature
    float: left
    display: inline-block
    margin: 0 2.5% 0 2.9%
    +clr

.products
    margin: 0 auto
    margin-top: 30px
    padding: 0
    text-align: center
    display: inline-block
    width: 100%
    +clr

.product
    box-sizing: border-box
    width: 15%
    margin-right: 0.83333333333333333333333333333333%
    margin-left: 0.83333333333333333333333333333333%
    float: left
    display: inline-block
    border: 1px solid #eeeeee
    border-radius: 20px
    +clr
    +r(400)
        display: block
        float: none
        max-width: 220px
        width: 100%
        // text-align: center
        margin: 0 auto
        margin-top: 20px
    &__img
        background-color: #f7f6f2
        position: relative
        width: 100%
        height: 350px
        border-radius: 18px
        img 
            position: absolute
            bottom: 0
            left: 0
            right: 0
            max-width: 100%
            margin: 0 auto
            opacity: 1
    &__text
        font-size: 20px
        margin: 25px 0
        +roboto-medium
        color: #525252
        line-height: 1.2
        text-align: center
    &__price
        font-size: 14px
        +helvetica
        color: #7fbb00
        font-weight: bold
        line-height: 1.2
        text-align: center
    &__likes
        font-size: 1rem
        a 
            color: #dedede

.marker
    width: 100%
    margin: 0 auto
    text-align: center
    display: block
    &__new, &__sale
        height: 25px
        width: 70px
        border-radius: 13px
        font-size: 11px
        display: inline-block
        +helvetica
        color: #ffffff
        font-weight: bold
        line-height: 1.2
        text-align: left
        text-transform: uppercase
        text-align: center
        padding: 3px
        border: 1px solid #ffffff
        +r(400)
            margin-top: 20px
    &__new
        background-color: #92d2a7
    &__sale
        background-color: #79d1d6

.wrapper
    margin: 0 auto
    text-align: center
    max-width: 250px

.pages
    margin: 30px auto
    padding: 30px 0
    text-align: center
    display: block
    .page 
        height: 5px
        width: 25%
        background-color: #f1f1f1
        margin: 0
        padding: 0
        float: left
        display: inline-block
        border-right: 2px solid #ffffff
    .active
        background-color: #7fbb00
