.organic
    margin: 0 auto
    ul  
        list-style-type: none
        margin: 0 auto
        padding: 0
        overflow: hidden
        text-align: center
        max-width: 1170px
        li 
            float: left
            margin-right: 20px
            cursor: pointer
            a 
                display: inline-block
                text-align: center
                text-decoration: none
                font-size: 16px
                +roboto-medium
                color: #9f9e9c
                border-radius: 25px
                height: 47px
                width: 180px
                border: 2px solid #9f9e9c
                padding: 10px 0
            a:hover 
                background-color: #81ba00  
                color: #ffffff 

.banner__allnature
    float: left