.ourproducts
    margin: 0 auto
    max-width: 1170px
    box-sizing: border-box

.ourproduct
    float: left
    // 170px / 1170px = 
    width: 14.529914529914529914529914529915%
    &__one
        // 30px / 1170px
        margin-right: 2.5641025641025641025641025641026%
    &__two
        // 30px / 1170px
        margin-left: 2.5641025641025641025641025641026%
    &__descript
        float: left
        // 570px / 1170px
        width: 48.717948717948717948717948717949%
