<!-- begin banner -->
<div class="banner">
    <div class="banner__wrapper">
        <div class="shop__now1">
            <div class="shop__decor-top">
                <img src="img/olive_small.png" alt="">
            </div>
            <div class="shop__decor-right">
                <img src="img/olive.png" alt="summer">
            </div>
            <div class="now1__about">FRESH FROM OUR FARM: <b>GREEN OLIVE</b></div>
            <div class="now1__cart">
                <div class="now1__kind">Vegetable</div>
                <h1 class="now1__title">GREEN <b>OLIVE</b></h1>
                <p class="now1__text">35% OFF IN JUNE-JULY</p>
            </div>
            <div class="now1__button">
                SHOP NOW
            </div>
            
        </div>
        <div class="shop__now2">
            <div class="now2__about">FRESH SUMMER: <b>FRUITS</b></div>
            <div class="now2__cart">
                <div class="now2__kind">Fruits</div>
                <h1 class="now2__title">ALL <b>SUMMER</b></h1>
                <p class="now2__text">35% OFF IN JUNE-JULY</p>
            </div>
            <div class="now2__button">
                SHOP NOW
            </div>
            <div class="shop__decor-top">
                <img src="" alt="">
            </div>
            <div class="shop__decor-right">
                <img src="img/summer.png" alt="summer">
            </div>
        </div>
    </div>
</div>
<!-- end banner -->