<!-- begin footer -->
<div class="footer container">
    <div class="footer__wrapper">
        <div class="footer__item">
            <div class="footer__about">
                <div class="footerlogo">
                    <div class="logo">
                        <div class="logo__link">
                            <a href="#">
                                <div class="logo__img"><img src="img/leaf.png" alt="leaf"></div>  
                                <span class="logo__part1"><b>Logo </b></span><span class="logo__part2">Here</span>
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="footer__hr">
                    <hr>
                </div>
                <div class="footer__text">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium soluta excepturi fuga.</p>
                </div>
                <div class="address contact">
                    <div><i class="fas fa-map-marker-alt"></i></div>
                    <div><address>100 highland ave, california, united state</address></div>
                </div>
                <div class="email contact">
                    <div><i class="fas fa-map-marker-alt"></i></div>
                    <div><a href="mailto:contact@naturix.com">contact@naturix.com</a></div>
                </div>
                <div class="location contact">
                    <div><i class="fas fa-map-marker-alt"></i></div>
                    <div><a href="http://www.website.com">www.website.com</a></div>
                </div>
            </div>
        </div>
        
        <div class="footer__item">
            <div class="information">
                <div class="information__menu">
                    <h1>naturix <b>information</b></h1>
                    <hr>
                    <ul>
                        <li><a href="#"><i class="fas fa-arrow-alt-circle-right"></i> about our shop</a></li>
                        <li><a href="#"><i class="fas fa-arrow-alt-circle-right"></i> top sellers</a></li>
                        <li><a href="#"><i class="fas fa-arrow-alt-circle-right"></i> our blog</a></li>
                        <li><a href="#"><i class="fas fa-arrow-alt-circle-right"></i> new products</a></li>
                        <li><a href="#"><i class="fas fa-arrow-alt-circle-right"></i> secure shopping</a></li>
                    </ul>
                </div>
            </div>
            <div class="account">
                <div class="account__menu">
                    <h1>my <b>account</b></h1>
                    <hr>
                    <ul>
                        <li><a href="#"><i class="fas fa-arrow-alt-circle-right"></i> my account</a></li>
                        <li><a href="#"><i class="fas fa-arrow-alt-circle-right"></i> discount</a></li>
                        <li><a href="#"><i class="fas fa-arrow-alt-circle-right"></i> personal information</a></li>
                        <li><a href="#"><i class="fas fa-arrow-alt-circle-right"></i> my address</a></li>
                        <li><a href="#"><i class="fas fa-arrow-alt-circle-right"></i> order history</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__item">
            <div class="instagram">
                <div class="instagram__menu">
                    <h1>photo <b>instagram</b></h1>
                    <hr>
                    <div class="instagram__gallery">
                        <div class="gallery__img">
                            <img src="img/instagram.jpg" alt="">
                        </div>
                        <div class="gallery__img">
                            <img src="img/instagram.jpg" alt="">
                        </div>
                        <div class="gallery__img">
                            <img src="img/instagram.jpg" alt="">
                        </div>
                        <div class="gallery__img">
                            <img src="img/instagram.jpg" alt="">
                        </div>
                        <div class="gallery__img">
                            <img src="img/instagram.jpg" alt="">
                        </div>
                        <div class="gallery__img">
                            <img src="img/instagram.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->
<!-- begin footer__bottom -->
<div class="footer__bottom">
    <img src="img/style.png" alt="style">
    <i class="fas fa-arrow-alt-circle-up"></i>
    <div class="bottom">
        <div class="allrights">©2017 all rights reserved</div>
        <div class="bottom__menu">
            <ul>
                <li><a href="#">contact us</a></li>
                <li><a href="#">term of use</a></li>
                <li><a href="#">site map</a></li>
                <li><a href="#">privacy policy</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- end footer__bottom -->