<!-- begin goods -->
<div class="goods">
    <div class="goods__about">FRESH FROM OUR FARM</div>
    <div class="goods__title">
        <div class="goods__leaf"><img src="img/leaf.png" alt="leaf"></div>
        <h1><span class="goods__light">naturix </span><span class="goods__bold">organic good</span></div></h1> 
    <div class="goods__menu">
        <ul>
            <li><a href="#">all <b>goods</b></a></li>                
            <li><a href="#">organic <b>vegetables</b></a></li>                
            <li><a href="#">organic <b>fruits</b></a></li>                
            <li><a href="#">organic <b>tea</b></a></li>                
            <li><a href="#">all <b>breads</b></a></li>                
            <li><a href="#">organic <b>juices</b></a></li>                
        </ul>
    </div>
    <div class="goods__row">
        <div class="product">
            <div href="#" class="product__img">
                <div class="marker">
                    <div class="marker__new">new</div>
                    <div class="marker__sale">sale</div>
                </div>
                <div class="product__likes">
                    <a href="#"><i class="fas fa-heart"></i></a>   
                    <a href="#"><i class="fas fa-shopping-basket"></i></a> 
                    <a href="#"><i class="fas fa-expand-arrows-alt"></i></a>  
                </div> 
                <img src="img/tomato.png" alt="tomato">                   
            </div>
            <div class="product__text">organic <b>baby corn</b></div>
            <div class="product__price">$50.00</div>
        </div>
        <div class="product">
            <div href="#" class="product__img">
                <div class="marker">
                    <div class="marker__new">new</div>
                    <div class="marker__sale">sale</div>
                </div>
                <div class="product__likes">
                    <a href="#"><i class="fas fa-heart"></i></a>   
                    <a href="#"><i class="fas fa-shopping-basket"></i></a> 
                    <a href="#"><i class="fas fa-expand-arrows-alt"></i></a>  
                </div>
                <img src="img/cabbage.png" alt="cabbage">                    
            </div>
            <div class="product__text">organic <b>baby corn</b></div>
            <div class="product__price">$30.00</div>
        </div>
        <div class="product">
            <div href="#" class="product__img">
                <div class="marker">
                    <div class="marker__new">new</div>
                    <div class="marker__sale">sale</div>
                </div>
                <div class="product__likes">
                    <a href="#"><i class="fas fa-heart"></i></a>   
                    <a href="#"><i class="fas fa-shopping-basket"></i></a> 
                    <a href="#"><i class="fas fa-expand-arrows-alt"></i></a>  
                </div> 
                <img src="img/cherry.png" alt="cherry">                   
            </div>
            <div class="product__text">organic <b>baby corn</b></div>
            <div class="product__price">$22.00</div>
        </div>
        <div class="product">
            <div href="#" class="product__img">
                <div class="marker">
                    <div class="marker__new">new</div>
                    <div class="marker__sale">sale</div>
                </div>
                <div class="product__likes">
                    <a href="#"><i class="fas fa-heart"></i></a>   
                    <a href="#"><i class="fas fa-shopping-basket"></i></a> 
                    <a href="#"><i class="fas fa-expand-arrows-alt"></i></a>  
                </div> 
                <img src="img/arugula.png" alt=arugula">                   
            </div>
            <div class="product__text">organic <b>baby corn</b></div>
            <div class="product__price">$13.00</div>
        </div>
    </div>
    <div class="goods__row">
        <div class="product">
            <div href="#" class="product__img">
                <div class="marker">
                    <div class="marker__new">new</div>
                    <div class="marker__sale">sale</div>
                </div>
                <div class="product__likes">
                    <a href="#"><i class="fas fa-heart"></i></a>   
                    <a href="#"><i class="fas fa-shopping-basket"></i></a> 
                    <a href="#"><i class="fas fa-expand-arrows-alt"></i></a>  
                </div>
                <img src="img/pineapple.png" alt="pineapple">                    
            </div>
            <div class="product__text">organic <b>baby corn</b></div>
            <div class="product__price">$45.00</div>
        </div>
        <div class="product">
            <div href="#" class="product__img">
                <div class="marker">
                    <div class="marker__new">new</div>
                    <div class="marker__sale">sale</div>
                </div>
                <div class="product__likes">
                    <a href="#"><i class="fas fa-heart"></i></a>   
                    <a href="#"><i class="fas fa-shopping-basket"></i></a> 
                    <a href="#"><i class="fas fa-expand-arrows-alt"></i></a>  
                </div>
                <img src="img/onion.png" alt="onion">                    
            </div>
            <div class="product__text">organic <b>baby corn</b></div>
            <div class="product__price">$27.00</div>
        </div>
        <div class="product">
            <div href="#" class="product__img">
                <div class="marker">
                    <div class="marker__new">new</div>
                    <div class="marker__sale">sale</div>
                </div>
                <div class="product__likes">
                    <a href="#"><i class="fas fa-heart"></i></a>   
                    <a href="#"><i class="fas fa-shopping-basket"></i></a> 
                    <a href="#"><i class="fas fa-expand-arrows-alt"></i></a>  
                </div>
                <img src="img/pineapple.png" alt="pineapple">                    
            </div>
            <div class="product__text">organic <b>baby corn</b></div>
            <div class="product__price">$45.00</div>
        </div>
        <div class="product">
            <div href="#" class="product__img">
                <div class="marker">
                    <div class="marker__new">new</div>
                    <div class="marker__sale">sale</div>
                </div>
                <div class="product__likes">
                    <a href="#"><i class="fas fa-heart"></i></a>   
                    <a href="#"><i class="fas fa-shopping-basket"></i></a> 
                    <a href="#"><i class="fas fa-expand-arrows-alt"></i></a>  
                </div>
                <img src="img/onion.png" alt="onion">                    
            </div>
            <div class="product__text">organic <b>baby corn</b></div>
            <div class="product__price">$27.00</div>
        </div>
    </div>
</div>
<!-- end goods -->