<!-- begin news -->
<div class="news">
    <div class="news__wrapper">
        <div class="news__about">NATURIX BLOG</div>
        <div class="news__title">naturix <b>latest news</b></div>
        <div class="new">
            <div class="new__img">
                <img src="http://dummyimage.com/240x220/dddddd" />
            </div>
            <div class="new__content">
                <div class="new__date">
                    26 JUNE 2016
                </div>
                <div class="new__title">
                    5 best foods to make you <br>
                    <b>fresh & healthy</b>
                    <div class="new__hr"><hr></div>
                    <br>
                    <p class="new__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate.</p>
                    <br>
                    <a href="#">READ ARTICLE <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>
        <div class="new">
            <div class="new__img">
                <img src="http://dummyimage.com/240x220/dddddd" />
            </div>
            <div class="new__content">
                <div class="new__date">
                    26 JUNE 2016
                </div>
                <div class="new__title">
                    5 best foods to make you <br>
                    <b>fresh & healthy</b>
                    <div class="new__hr"><hr></div>
                    <br>
                    <p class="new__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate.</p>
                    <br>
                    <a href="#">READ ARTICLE <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end news -->