<!-- begin organic -->
<div class="organic">
    <div class="organic__menu">
        <ul>
            <li><a href="#">organic <b>fruits</b></a></li>
            <li><a href="#">organic <b>vegetables</b></a></li>
            <div class="banner__allnature"><img src="img/badge.png" alt=""></div>
            <li><a href="#">organic <b>juices</b></a></li>
            <li><a href="#">organic <b>dried fruits</b></a></li>
        </ul>
    </div>    
    <div class="products">
        <div class="product">
            <a href="#" class="product__img">
                <div class="product__new">new</div>
                <div class="product__sale">sale</div>
                <div class="product__likes">
                    <a href="#"><i class="fas fa-heart"></i></a>   
                    <a href="#"><i class="fas fa-shopping-basket"></i></a> 
                    <a href="#"><i class="fas fa-expand-arrows-alt"></i></a>  
                </div>
                <img src="http://dummyimage.com/270x350/f7f6f2" />                    
            </a>
            <div class="product__text">organic <b>baby corn</b></div>
            <div class="product__price">$50.00</div>
        </div>
        <div class="product">
            <a href="#" class="product__img">
                <div class="product__new">new</div>
                <div class="product__sale">sale</div>
                <div class="product__likes">
                    <a href="#"><i class="fas fa-heart"></i></a>   
                    <a href="#"><i class="fas fa-shopping-basket"></i></a> 
                    <a href="#"><i class="fas fa-expand-arrows-alt"></i></a>  
                </div>
                <img src="http://dummyimage.com/270x350/f7f6f2" />                    
            </a>
            <div class="product__text">organic <b>baby corn</b></div>
            <div class="product__price">$50.00</div>
        </div>
        <div class="product">
            <a href="#" class="product__img">
                <div class="product__new">new</div>
                <div class="product__sale">sale</div>
                <div class="product__likes">
                    <a href="#"><i class="fas fa-heart"></i></a>   
                    <a href="#"><i class="fas fa-shopping-basket"></i></a> 
                    <a href="#"><i class="fas fa-expand-arrows-alt"></i></a>  
                </div>
                <img src="http://dummyimage.com/270x350/f7f6f2" />                    
            </a>
            <div class="product__text">organic <b>baby corn</b></div>
            <div class="product__price">$50.00</div>
        </div>
        <div class="product">
            <a href="#" class="product__img">
                <div class="product__new">new</div>
                <div class="product__sale">sale</div>
                <div class="product__likes">
                    <a href="#"><i class="fas fa-heart"></i></a>   
                    <a href="#"><i class="fas fa-shopping-basket"></i></a> 
                    <a href="#"><i class="fas fa-expand-arrows-alt"></i></a>  
                </div>
                <img src="http://dummyimage.com/270x350/f7f6f2" />                    
            </a>
            <div class="product__text">organic <b>baby corn</b></div>
            <div class="product__price">$50.00</div>
        </div>
        <div class="product">
            <a href="#" class="product__img">
                <div class="product__new">new</div>
                <div class="product__sale">sale</div>
                <div class="product__likes">
                    <a href="#"><i class="fas fa-heart"></i></a>   
                    <a href="#"><i class="fas fa-shopping-basket"></i></a> 
                    <a href="#"><i class="fas fa-expand-arrows-alt"></i></a>  
                </div>
                <img src="http://dummyimage.com/270x350/f7f6f2" />                    
            </a>
            <div class="product__text">organic <b>baby corn</b></div>
            <div class="product__price">$50.00</div>
        </div>
        <div class="product">
            <a href="#" class="product__img">
                <div class="product__new">new</div>
                <div class="product__sale">sale</div>
                <div class="product__likes">
                    <a href="#"><i class="fas fa-heart"></i></a>   
                    <a href="#"><i class="fas fa-shopping-basket"></i></a> 
                    <a href="#"><i class="fas fa-expand-arrows-alt"></i></a>  
                </div>
                <img src="http://dummyimage.com/270x350/f7f6f2" />                    
            </a>
            <div class="product__text">organic <b>baby corn</b></div>
            <div class="product__price">$50.00</div>
        </div>                

        <!-- begin pages -->
        <div class="pages">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <!-- end pages -->
    </div>
</div>
<!-- end organic -->