<!-- begin ourproducts -->
<div class="ourproducts">
    <div class="ourproducts__one">
        <div class="ourproduct">
            <div class="ourproduct__logo"><img src="img/our_fruits.png" alt="logo"></div>
            <div class="ourproduct__line"></div>
            <div class="ourproduct__title">organic <b>fruits</b></div>
            <div class="ourproduct__items">32 items</div>
        </div>
        <div class="ourproduct">
            <div class="ourproduct__logo"><img src="img/our_vegetables.png" alt="logo"></div>
            <div class="ourproduct__line"></div>
            <div class="ourproduct__title">organic <b>fruits</b></div>
            <div class="ourproduct__items">32 items</div>
        </div>
        <div class="ourproduct">
            <div class="ourproduct__logo"><img src="img/our_breads.png" alt="logo"></div>
            <div class="ourproduct__line"></div>
            <div class="ourproduct__title">organic <b>fruits</b></div>
            <div class="ourproduct__items">32 items</div>
        </div>
        <div class="ourproduct__descript">
            <div class="ourdescript__about">FRESH FROM OUR FARM</div>
            <div class="ourdescript__title">220+ <b>fruits, vegetables </b>& <b>lot more</b></div>
            <div class="ourdescript__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores doloribus dignissimos officiis atque voluptatibus
            error mollitia accusantium explicabo sint non sunt maxime eius minima necessitatibus exercitationem nesciunt repellat,
            vel iure.</div>
        </div>
    </div>
    <div class="ourproducts__two">
        <div class="ourproduct__descript">
            <div class="ourdescript__about">FRESH FROM OUR FARM</div>
            <div class="ourdescript__title">220+ <b>fruits, vegetables </b>& <b>lot more</b></div>
            <div class="ourdescript__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores doloribus dignissimos officiis atque voluptatibus
            error mollitia accusantium explicabo sint non sunt maxime eius minima necessitatibus exercitationem nesciunt repellat,
            vel iure.</div>
        </div>
        <div class="ourproduct">
            <div class="ourproduct__logo"><img src="img/our_juices.png" alt="logo"></div>
            <div class="ourproduct__line"></div>
            <div class="ourproduct__title">organic <b>fruits</b></div>
            <div class="ourproduct__items">32 items</div>
        </div>
        <div class="ourproduct">
            <div class="ourproduct__logo"><img src="img/our_driedjuices.png" alt="logo"></div>
            <div class="ourproduct__line"></div>
            <div class="ourproduct__title">organic <b>fruits</b></div>
            <div class="ourproduct__items">32 items</div>
        </div>
        <div class="ourproduct">
            <div class="ourproduct__logo"><img src="img/our_tea.png" alt="logo"></div>
            <div class="ourproduct__line"></div>
            <div class="ourproduct__title">organic <b>fruits</b></div>
            <div class="ourproduct__items">32 items</div>
        </div>
    </div>
    
</div>
<!-- end ourproducts -->