<!-- begin ourproducts -->
<div class="ourproducts">
    <div class="ourproduct__one">
        <div class="one__item">
            <div class="one__logo"><img src="img/our_fruits.png" alt="logo"></div>
            <div class="one__title">organic <b>fruits</b></div>
            <div class="one__items">32 items</div>
        </div>
        <div class="one__item">
            <div class="one__logo"><img src="img/our_vegetables.png" alt="logo"></div>
            <div class="one__title">organic <b>fruits</b></div>
            <div class="one__items">32 items</div>
        </div>
        <div class="one__item">
            <div class="one__logo"><img src="img/our_breads.png" alt="logo"></div>
            <div class="one__title">organic <b>fruits</b></div>
            <div class="one__items">32 items</div>
        </div>
        <div class="one__descript">
            <div class="descript__about">FRESH FROM OUR FARM</div>
            <div class="descript__title">220+ <b>fruits, vegetables </b>& <b>lot more</b></div>
            <div class="descript__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores doloribus dignissimos officiis atque voluptatibus
            error mollitia accusantium explicabo sint non sunt maxime eius minima necessitatibus exercitationem nesciunt repellat,
            vel iure.</div>
        </div>
    </div>
    <div class="ourproduct__two">
        <div class="two__descript">
            <div class="descript__about">FRESH FROM OUR FARM</div>
            <div class="descript__title">220+ <b>fruits, vegetables </b>& <b>lot more</b></div>
            <div class="descript__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores doloribus dignissimos officiis atque voluptatibus
            error mollitia accusantium explicabo sint non sunt maxime eius minima necessitatibus exercitationem nesciunt repellat,
            vel iure.</div>
        </div>
        <div class="two__item">
            <div class="two__logo"><img src="img/our_juices.png" alt="logo"></div>
            <div class="two__title">organic <b>fruits</b></div>
            <div class="two__items">32 items</div>
        </div>
        <div class="two__item">
            <div class="two__logo"><img src="img/our_driedjuices.png" alt="logo"></div>
            <div class="two__title">organic <b>fruits</b></div>
            <div class="two__items">32 items</div>
        </div>
        <div class="two__item">
            <div class="two__logo"><img src="img/our_tea.png" alt="logo"></div>
            <div class="two__title">organic <b>fruits</b></div>
            <div class="two__items">32 items</div>
        </div>
    </div>
    
</div>
<!-- end ourproducts -->