<!-- begin random -->
<div class="random">
    <div class="random__wrapper">
        <div class="random__part1">
            <div class="random__about">NEW FROM THE FARM</div>
            <div class="random__title">
                <h3>organic <b>new arrivals</b></h3>
                <div class="left"><i class="fas fa-long-arrow-alt-left"></i></div>
                <div class="right"><i class="fas fa-long-arrow-alt-right"></i></div>
            </div>
            <div class="cart">
                <div class="cart__img"><img src="http://dummyimage.com/160x110/eeeeee" /></div>
                <div class="cart__title">organic <b>blackberry</b></div>
                <div class="cart__dash"></div>
                <div class="cart__price">$50</div>
            </div>
        </div>
        <div class="random__part1">
            <div class="random__about">NEW FROM THE FARM</div>
            <div class="random__title">
                <h3>organic <b>new arrivals</b></h3>
                <div class="left"><i class="fas fa-long-arrow-alt-left"></i></div>
                <div class="right"><i class="fas fa-long-arrow-alt-right"></i></div>
            </div>
            <div class="cart">
                <div class="cart__img"><img src="http://dummyimage.com/160x110/eeeeee" /></div>
                <div class="cart__title">organic <b>blackberry</b></div>
                <div class="cart__dash"></div>
                <div class="cart__price">$50</div>
            </div>
        </div>
        <div class="random__part1">
            <div class="random__about">NEW FROM THE FARM</div>
            <div class="random__title">
                <h3>organic <b>new arrivals</b></h3>
                <div class="left"><i class="fas fa-long-arrow-alt-left"></i></div>
                <div class="right"><i class="fas fa-long-arrow-alt-right"></i></div>
            </div>
            <div class="cart">
                <div class="cart__img"><img src="http://dummyimage.com/160x110/eeeeee" /></div>
                <div class="cart__title">organic <b>blackberry</b></div>
                <div class="cart__dash"></div>
                <div class="cart__price">$50</div>
            </div>
        </div>
    </div>
            
</div>
<!-- end random -->