<!-- begin subscribe -->
<div class="subscribe">
    <div class="subscribe__about">JOIN OUR NEWSLETTERS</div>
    <form action="">
        <label for="">subscribe <b>newsletters</b></label>
        <input type="email">
        <div class="subscribe__button">
            <input type="submit" value="subscribe" class="submit"><i class="fas fa-long-arrow-alt-right"></i>
        </div>
    </form>
    <div class="subscribe__decor-left">
        <img src="img/subscribe__decor-left.png" alt="decor">
    </div>
    <div class="subscribe__decor-right">
        <img src="img/subscribe__decor-right.png" alt="decor">
    </div>
</div>
<!-- end subscribe -->