<!-- begin subscribe -->
<div class="subscribe container">
    <div class="subscribe__wrapper">
        <div class="subscribe__label">
            <div class="subscribe__about">JOIN OUR NEWSLETTERS</div>
            <div class="subscribe__title">subscribe <b>newsletters</b></div>
        </div>
        <form class="subscribe__form" action="">
            <div class="subscribe__email">
                <input type="email" placeholder="enter your email address">
            </div>
            <div class="subscribe__btn">
                <button type="submit" class="btn">subscribe<i class="fas fa-long-arrow-alt-right"></i></button>
            </div>
        </form>
        <div class="subscribe__decor-left">
            <img src="img/subscribe__decor-left.png" alt="decor">
        </div>
        <div class="subscribe__decor-right">
            <img src="img/subscribe__decor-right.png" alt="decor">
        </div>
    </div>
</div>
<!-- end subscribe -->