<!-- begin testimonials -->
<div class="testimonials">
    <div class="testimonials__wrapper">
        <div class="testi">
            <div class="testi__img">
                <img src="img/testi.png" alt="testi">
            </div>
            <div class="testi__describe">
                <p class="testi__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, fuga. Maxime inventore velit accusamus minus.</p>
                <h1 class="testi__name"><i class="fas fa-user"></i> LUIS GARCHIA</h1>
            </div>        
        </div>
        <div class="testi">
            <div class="testi__img">
                <img src="img/testi.png" alt="testi">
            </div>
            <div class="testi__describe">
                <p class="testi__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, fuga. Maxime inventore velit accusamus minus.</p>
                <h1 class="testi__name"><i class="fas fa-user"></i> LUIS GARCHIA</h1>
            </div>        
        </div>
    </div>
</div>
<!-- end testimonials -->